* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "inter";
  src: url("../assets/inter_regular.woff2");
}
@font-face {
  font-family: "roboto";
  src: url("../assets/roboto.woff2");
}
:root {
  --color-shade1 : #e6007a;
  --color-shade2:#1a0f1c;
  --color-shade3: #1d121f;
  --color-shade4: #e6e3e8;
  --color-shade5: #d9c5e7;
  --border-color: #35243d;
  --bg-color: #1a101c;

  --box-shadow-md:0px 4px 8px #00000040,0px 0px 1px inset #0006;
  --box-shadow-lg: 0px 24px 40px #00000040,0px 0px 1px inset #0006;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;

  --spacing-sm: 6px;
  --spacing-md: 10px;
  --spacing-lg: 14px;
  --spacing-xl: 20px;
  --spacing-2xl: 22px;

  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 22px;
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: var(--color-shade2);
}


::-webkit-scrollbar-thumb {
  background-color: var(--color-shade5);
  border-radius: 10px;
  border: 2.8px solid var(--color-shade2);
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  width : 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-shade4);
  font-family: "inter";
  font-size: var(--text-sm);
  overflow-x: hidden ;
}

@media screen and (max-width: 1200px) {
  body {
    display: block;
  }
}


