.plinko {
  height: 600px;
  width: 1200px;
  border: 0.5px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow-md);
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-template-columns: 0.7fr 2fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.canvas_container {
  background-color: var(--color-shade3) ;
    border-radius: 8px;
}
.control_panel {
  background-color: var(--color-shade2);
  padding: var(--spacing-md);
    border-radius: 8px;
}

@media screen and (max-width: 1200px) {
  .plinko {
     grid-template-columns: 1fr; /* only one column */
    grid-template-rows: 2fr 0.7fr;   /* adjust height automatically */
  }
}